Concatenar Strings

In [35]:
nome1 = 'Maria'
nome2 = 'Kessia'

completo = nome1 + ' ' + nome2
print(completo)

Maria Kessia

Indexar Strings

In [42]:
x = 'Maria Kessia'
x

'Maria Kessia'

In [10]:
x[6]

'K'

In [11]:
x[6:8]

'Ke'

In [43]:
x[-2]

'i'

Fatiar Strings - Slice

In [19]:
x[::5]

'M i'

In [20]:
x[::2]

'MraKsi'

Concatenar String na Variável

In [44]:
x = x + ' Oliveira'
x

'Maria Kessia Oliveira'

Funções Bilt-in de Strings

In [46]:
x.upper() # Converteu tudo para maiúsculo

'MARIA KESSIA OLIVEIRA'

In [47]:
x.lower()  # Converteu tudo para mainúsculo

'maria kessia oliveira'

In [51]:
x.split() # Quebrou o nome por espaço

['Maria', 'Kessia', 'Oliveira']

In [54]:
x.split('K') # Quebrou o nome por elemento específico

['Maria ', 'essia Oliveira']

In [55]:
x.capitalize() # Só a primeira letra do nome maiúsculo

'Maria kessia oliveira'

In [57]:
x.count('a') # Conta quantas letras tem no nome (exemplo a letra a)

4

In [58]:
x.isalnum() # Perguntei se essa string é toda de número

False

In [60]:
x.islower() # Perguntei se essa strings está com as letras todas minúsculas

False

In [61]:
x.isspace() # Perguntei se essa strings é toda de espaço

False

In [62]:
x.endswith('a') # Perguntei se essa strings termina com a letra a

True

Estruturas de dados Lista

In [94]:
s = ['laranja, uva, maçã'] # Uma lista de String com vários itens
s

['laranja, uva, maçã']

In [95]:
t = ['sapato', 'bolsa', 'cinto'] # Uma lista de várias strings
t

['sapato', 'bolsa', 'cinto']

In [98]:
t[2] = 'chapeu' # substituí uma string da lista
t

['sapato', 'bolsa', 'chapeu']

In [99]:
del t[1] # Deletando uma string da lista colocando o indice

In [101]:
print(t)

['sapato', 'chapeu']

Listas Aninhadas

In [104]:
lista = [ [1,2,3,4], [ 5,6,7,8], [9,10,11,12] ]

In [105]:
print(lista)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [106]:
lista[0] # Index 0 da lista lista

[1, 2, 3, 4]

In [107]:
lista [0][1] # Index 0 da lista lista e index 1 do index 0

2

In [108]:
lis = 5 # Criei uma variável e abaixo fiz a soma com os index da lista lista

In [109]:
lista[2][1] + lis

15

Concatenar Listas

In [111]:
list1 = [5, 6, 7, 8]

In [112]:
list2 = [9, 10, 11, 12]

In [113]:
list_total = list1 + list2

In [114]:
list_total

[5, 6, 7, 8, 9, 10, 11, 12]

Operador in

In [115]:
a = [100, -5, 20, 200]

In [116]:
print(10 in a) # in quer dizer dentro

False

In [117]:
print(100 in a) # in quer dizer dentro

True

Mais Funções Built-in

In [118]:
b = [3,5,6,7,8]

In [119]:
len(b)  # len informa o tamanho da lista

5

In [120]:
max(b) # Maior valor

8

In [121]:
min(b) # Menor valor

3

In [177]:
b.append(15) # Acrescentando mais um item - append

In [123]:
b

[3, 5, 6, 7, 8, 15]

In [124]:
b.append(15)

In [125]:
b

[3, 5, 6, 7, 8, 15, 15]

In [178]:
b.count(15) # Contar quantas x aparece o item na lista - count

3

Loop

In [151]:
K = [1,2,3,4]
print(K)

[1, 2, 3, 4]

In [152]:
L = []
print(L)

[]

In [153]:
 for i in K:
    L.append(i)

In [154]:
print(L)

[1, 2, 3, 4]

Estender a Lista - extend

In [162]:
cidades = ['João Pessoa', 'Recife', 'Natal']
cidades

['João Pessoa', 'Recife', 'Natal']

In [163]:
cidades.extend(['Ceará', 'Bahía'])

In [164]:
print(cidades)

['João Pessoa', 'Recife', 'Natal', 'Ceará', 'Bahía']

Saber qual indice na lista - index

In [165]:
cidades.index('Natal')

2

Inserir algum item na lista - Primeiro informa em qual indice vc quer inserir o item e depois coloca o item - insert

In [166]:
cidades.insert(2, 110)

In [167]:
print(cidades)

['João Pessoa', 'Recife', 110, 'Natal', 'Ceará', 'Bahía']

Remover item da lista - remove

In [168]:
cidades.remove(110)

In [170]:
print(cidades)

['João Pessoa', 'Recife', 'Natal', 'Ceará', 'Bahía']

Revereter a lista de trás pra frente e virse e verso - reverse

In [171]:
cidades.reverse()

In [172]:
print(cidades)

['Bahía', 'Ceará', 'Natal', 'Recife', 'João Pessoa']

Ordenar a lista - sort

In [173]:
v = [6,5,4,3,2,1]

In [174]:
v

[6, 5, 4, 3, 2, 1]

In [175]:
v.sort()

In [176]:
v

[1, 2, 3, 4, 5, 6]

Dicionário

In [5]:
dic = {'Davi': 39, 'Kessia' : 39, 'Grazi': 26}

In [6]:
dic['Grazi']

26

Acrescentar mais uma chave e valor no dicionário

In [7]:
dic ['Tiago'] = 32

In [8]:
dic

{'Davi': 39, 'Kessia': 39, 'Grazi': 26, 'Tiago': 32}

In [9]:
dic['Tiago']

32

Limpar dicionário com o método (clear)

In [11]:
dic.clear()

In [12]:
dic

{}

Deletar dicionário

In [13]:
del dic

In [14]:
dic

NameError: name 'dic' is not defined

Criando novo dicionário

In [19]:
estudantes = {'Davi': 39, 'Kessia': 39, 'Tiago': 39, 'Grazi': 27}

Verificar quantidade de elementos do dicionário com a função Built-in (len)

In [18]:
len(estudantes)

4

Retornar somente as chaves com o (keys)

In [20]:
estudantes.keys()

dict_keys(['Davi', 'Kessia', 'Tiago', 'Grazi'])

Retornar somente os valores com o (values)

In [21]:
estudantes.values()

dict_values([39, 39, 39, 27])

Retornar somente os itens com o (items)

In [23]:
estudantes.items()

dict_items([('Davi', 39), ('Kessia', 39), ('Tiago', 39), ('Grazi', 27)])

Almentar a quantidade de estudante juntando 2 dicionádios com (update)

In [24]:
estudantes2 = {'Vamberto': 39, 'Sandra': 34, 'Giovana': 15}

In [25]:
estudantes.update(estudantes2)

In [26]:
estudantes

{'Davi': 39,
 'Kessia': 39,
 'Tiago': 39,
 'Grazi': 27,
 'Vamberto': 39,
 'Sandra': 34,
 'Giovana': 15}

Construindo dicionário vazio

In [29]:
dic1 = {}

In [30]:
dic1

{}

Adicionando chave e valores no dicionário

In [32]:
dic1['Felipe'] = 32

In [33]:
dic1

{'Felipe': 32}

In [34]:
dic1 [10] = 5

In [35]:
dic1

{'Felipe': 32, 10: 5}

In [36]:
dic1[10,5] = 3

In [37]:
dic1

{'Felipe': 32, 10: 5, (10, 5): 3}

In [51]:
dict2 = {}

In [52]:
dict2

{}

In [53]:
dict2 ['key1'] = 'Data Science'

In [54]:
dict2 ['key2'] = 10

In [56]:
dict2 ['key3'] = 100

In [57]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [58]:
a = dict2 ['key1']

In [59]:
b = dict2 ['key2']

In [60]:
c = dict2 ['key3']

In [61]:
a, b, c

('Data Science', 10, 100)

Dicionário de listas

In [72]:
dict3 = {'chave1': 1230, 'chave2': [22,456,354,25], 'chave3' : ['Picanha', 'fraldinha', 'alcatara']}

In [73]:
dict3

{'chave1': 1230,
 'chave2': [22, 456, 354, 25],
 'chave3': ['Picanha', 'fraldinha', 'alcatara']}

In [74]:
dict3 ['chave2']

[22, 456, 354, 25]

Usando a criatividade - alterando por exemplo o nome picanha na lista do dicionario para maiúsculo

In [75]:
dict3['chave3'][0].upper()

'PICANHA'

In [76]:
val = dict3['chave2'][0] - 2

In [77]:
val

20

In [78]:
dict3['chave2'][0] -= 2

In [79]:
dict3

{'chave1': 1230,
 'chave2': [20, 456, 354, 25],
 'chave3': ['Picanha', 'fraldinha', 'alcatara']}

Trabalhando com as Tuplas - Estutura imutável

In [80]:
tupla1 = ('Elefante', 22, 'chuva', 10.50, 'python')

In [81]:
tupla1

('Elefante', 22, 'chuva', 10.5, 'python')

In [85]:
tupla1.append('chocolate') # Por ser imutável não consigo fazer nenhum tipo de transformação

AttributeError: 'tuple' object has no attribute 'append'

Para modidicar tupla só transformando em lista

In [95]:
t2 = ('a', 'b', 'c')

In [96]:
t2

('a', 'b', 'c')

In [97]:
t2 = list(t2)

In [98]:
type(t2)

list

In [99]:
t2.append('D')

In [101]:
t2

['a', 'b', 'c', 'D']

Convertendo para Tupla após a transformação

In [102]:
t2 = tuple(t2)

In [103]:
type(t2)

tuple